<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="D&eacute;monstrateur Laclasse.com <-> GAR">
        <meta name="author" content="">
        <link rel="shortcut icon" href="img/favicon.png">

        <title>Laclasse Suivi Perso</title>

        <link href="<%=APP_PATH%>/node_modules/bootstrap/dist/css/bootstrap.min.css?v=<%=CACHE_BUSTER%>" rel="stylesheet" type="text/css" />
        <link href="<%=APP_PATH%>/node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css?v=<%=CACHE_BUSTER%>" rel="stylesheet" type="text/css" />
        <link href="<%=APP_PATH%>/node_modules/laclasse-common-client/css/main.css?v=<%=CACHE_BUSTER%>" rel="stylesheet" type="text/css" />
        <link href="<%=APP_PATH%>/node_modules/laclasse-common-client/css/damier.css?v=<%=CACHE_BUSTER%>" rel="stylesheet" type="text/css" />
        <link href="<%=APP_PATH%>/node_modules/laclasse-common-client/css/floating-buttons.css?v=<%=CACHE_BUSTER%>" rel="stylesheet" type="text/css" />
        <link href="<%=APP_PATH%>/node_modules/font-awesome/css/font-awesome.min.css?v=<%=CACHE_BUSTER%>" rel="stylesheet" type="text/css" />
        <link href="<%=APP_PATH%>/node_modules/sweetalert2/dist/sweetalert2.css?v=<%=CACHE_BUSTER%>" rel="stylesheet" type="text/css" />

        <link href="<%=APP_PATH%>/css/suivi.css?v=<%=CACHE_BUSTER%>" rel="stylesheet" type="text/css" />
        <link href="<%=APP_PATH%>/css/print.css?v=<%=CACHE_BUSTER%>" rel="stylesheet" type="text/css" media="print" />
    </head>

    <body>

        <%= yield %>

        <!-- Bootstrap core JavaScript
             ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="<%=APP_PATH%>/js/app.js?v=<%=CACHE_BUSTER%>"></script>
        <script>
         angular.module('suiviApp')
                .constant( 'URL_ENT', '<%=URL_ENT%>' )
                .constant( 'APP_PATH', '<%=APP_PATH%>' )
                .constant( 'UID', '<%=session['user']%>' );
        </script>
    </body>
</html>
